# ignore everything except certain files
/*
!.gitignore
!*.init
!LICENSE.md

# git's not syntax is either stupid or a hack-job
!data
data/*
!data/init
data/init/*
!/data/init/colors.txt
!/data/init/d_init.txt
!/data/init/embark_profiles.txt
!/data/init/init.txt
!/data/init/interface.txt
!/data/init/world_gen.txt
!data/art
data/art/*!data/art/Haowan_Curses_1440x450.png
